@media only screen and (max-width : 700px) {
    .header_brand-name h2{
        font-size: 170%;
        text-align: center;
        padding-top: 2%;
        margin: 0;
    }
    nav ul {
        display: inline;
        float: none;
        width: 100%;
        font-size: 60%;
        text-align: center;


    }
    .about_us{
        font-size: 70%;
    }

    .header_menu ul{
        padding: 0;

    }
    nav li a {
    border-bottom: 1px solid #576979;
    }
    .header{
        min-height: 700px;
    }
    .slider-nav span{
        display: none;
    }
    .swiper-projects{
        padding-bottom: 5%;
    }
    .sites_photo{
        margin: 0
    }
}
@media only screen and ( min-width: 750px max-width : 1200px) {

    nav {
        display: inline;
        float: none;
        min-width: 100%;
        font-size: 120%;
        padding-bottom: 0;
        margin-bottom: 0;

    }
    nav li a {
    border-bottom: 1px solid #576979;
    }
    .swiper-projects{
        padding-bottom: 5%;
    }
    .sites_titles{
        margin-left: 0%;
    }
}
