.about_us
    padding:
        top: 10%
        left: 8%
    &_text
        color: white
        font-family: $font_text_ru
        font-size: 150%
        vertical-align: middle
.slider-nav
    text-align: center
.description
    padding-top: 3%
    height: 100vh
