.description
    min-height: 800px
.header
    background-color: inherit
    margin: 0
    padding: 0



    &_menu
        min-height: 10%
        background-color: white
        position: fixed
        z-index: 3
    &_menu li
        display: inline
        margin:
            left: 3%
            bottom: 10px
        font-size: 140%


    &_menu ul
        margin:
            top: 2%
        text-align: center
        padding:
            right: 2%
        font-family: $font_text_ru

    &_brand-name
        text-align: center
        font-family: $font_title_en
.swiper-projects
    padding:
        top: 9%
.swiper-button-prev
    color: white

.swiper-button-next
    color: white

.slider-nav
    position: relative

    height: 3rem
    float: right
    padding:
        bottom: 10%
.projects
    text-align: center
    color: white
