.main-content
    background-color: white
    max-height: 2000px

.services
    color: #02d7ff
    padding:
        left: 8%
.line
    height: 6px
    background-color: #02d7ff
    margin:
        left: 8%
    border-radius: 0px 50px  50px 0px
.sites
    padding-top: 5%
    margin-bottom: 2%
    &_photo
        min-height: 300px
        padding:
            top: 1%
            bottom: 1%

        margin-left: 7%
        &_img
            padding-left: 0
            padding-right: 0

    &_about
        text-align: center
        background-color: #60ffd4
        display: inline
        font-family: $font_text_ru
        font-size: 150%
        padding-left: 0
        padding-right: 0
        padding-bottom: 2%
