.swiper-container

      height: 10px
      margin: 20px auto

    .swiper-slide
      text-align: center
      display: inline
      -webkit-box-pack: center
      -ms-flex-pack: center
      -webkit-justify-content: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      -webkit-align-items: center
      align-items: center
