@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pkvp6e');
  src:  url('fonts/icomoon.eot?pkvp6e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pkvp6e') format('truetype'),
    url('fonts/icomoon.woff?pkvp6e') format('woff'),
    url('fonts/icomoon.svg?pkvp6e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e0cd";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-play3:before {
  content: "\ea1c";
}
